@{
    ViewBag.Title = "Login";
}

<div class="text-center">
    <h1 class="display-4">Log In</h1>

    @Html.ValidationSummary()

    <form method="post">
        <input type="text" name="username" placeholder="Username" class="form-control form-control-lg mb-3 inpu-lg" />
        <input type="password" name="password" placeholder="Password" class="form-control form-control-lg mb-3 input-lg" />
        <button type="submit" class="btn btn-lg btn-success">Login</button>
    </form>
</div>
